<?xml version="1.0" encoding="UTF-8"?>
<config>
  <database name="mysql">
    <host>192.168.41.36</host>
    <port>3306</port>
    <username>zhan_test</username>
    <password>xiaozhan123</password>
    <db>zhan_public_class1</db>
  </database>
  <apidatabase name="mysql">
    <host>localhost</host>
    <port>3306</port>
    <username>root</username>
    <password>root</password>
    <db>api</db>
  </apidatabase>
  <mailServer>
    <smtpserver>smtp.exmail.qq.com</smtpserver>
    <username>automationtest@zhan.com</username>
    <password>Xiaotest@2017</password>
    <sender>automationtest@zhan.com</sender>
    <receiver>85224271@qq.com,85224271@qq.com</receiver>
  </mailServer>
</config>